#addToCartBtn{
    position: absolute;
    bottom: 1px;
    right: 5px;
    font-size: 10px;
    cursor: pointer;
    
}

#productList{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    justify-content: center;
    
}

.productCard {
    position: relative;
    background-color: rgb(128, 128, 128);
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    text-align: left;
}
.prodName{
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
}
.productCard div span{
    font-size: 12px;
    font-weight: bolder;
    color: black;
}

#filter{
    color: black;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 200px); */
    gap: 10px;
    justify-content: center;
    margin: 30px ;
}

#filter {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 5px;
    max-width: 450px;
    
}

@media screen and (max-width: 350px) {
    #filter{
        display: flex;
        flex-direction: column;
    }
}

#rightFormInputs {
    text-align: right;
}

#resetBtn {
    background-color: rgb(179, 179, 179);
    font-size: 11px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}

#searchButton{
    background-color: rgb(210, 209, 255);
    cursor: pointer;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
}
